# 编辑目录和文件
.idea
.DS_Store
.hbuilderx
coverage
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw
*.local

# Logs文件
logs
*.log*

# 项目文件
dev*
cache
dist
node_modules
docs/src/assets/
public
src/assets/
unpackage
.*
*-lock.*
*.css
*.less
*.scss
*.html
*.md

# 不忽略的项目文件
!.vscode
!.prettierrc*
!.stylelintrc*
!.eslintrc*
!.vitepress
