# 默认走淘宝镜像
registry = https://registry.npmmirror.com

# 私服npm用到，携带@xxx前缀的包名会走http://xxx.com:8080
# @dyb-dev:registry = https://registry.npmjs.org/

# 是否开启自动安装peerDependencies依赖
auto-install-peers = false
