/*
 * @FileDesc: css全局变量文件
 */

:root {
    --color-black: #000;
    --color-white: #fff;
    --color-background: var(--color-white);
    --color-text: var(--color-black);

    /* 基础字体大小 */
    --base-font-size: 10px;

    /* 间距变量 */
    --spacing: 1px;

    /* IOS 顶部和底部 安全区域 支持IOS 11.2 及以上的系统版本 */
    --safe-area-height-top: env(safe-area-inset-top);
    --safe-area-height-bottom: env(safe-area-inset-bottom);
}

/** 检测用户系统的偏好主题模式是否为暗色模式（Dark Mode） */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--color-black);
        --color-text: var(--color-white);
    }
}
